[user]
        name = Lazytangent
        email = pm123633@gmail.com
[core]
        editor = nvim
[url "git@github.com:"]
        insteadOf = gh:
[url "git@github.com:Lazytangent/"]
        insteadOf = gh:L/
[init]
        defaultBranch = main
[pull]
        rebase = false
